<form autocomplete="on" method="post" name="r_pasword" id="r_pasword">

    <h1>Recover pasword</h1>
</br>

    <strong> <label for="passw_reg" data-tr="Contraseña:"></label> </strong>
    <input name="passw_reg" id="passw_reg" type="password" placeholder="Password" value="" />
    <p>
        <font color="red">
            <span id="e_passw_reg" class="styerror"></span>
        </font>
    </p>

    <strong> <label for="conf_passw" data-tr="Confirme contraseña:"> </label> </strong>
    <input name="conf_passw" id="conf_passw" type="password" placeholder="Confirm Password" value="" />
    <p>
        <font color="red">
            <span id="e_conf_passw" class="styerror"></span>
        </font>
    </p>

    <input id="password-submit" name="password" type="button" value="Recover password" />
    </br></br>
</form>